# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# visualisation
matplotlib

# data science
numpy
pandas
scikit-learn

# deep learning frameworks
# torch
# torchvision
tensorflow

# tests/linter
black
coverage
flake8
pytest
yapf

# API
gcsfs
google-cloud-storage
mlflow

# utilities
six>=1.14
joblib
memoized-property
termcolor
jupyter
tqdm
imageio
streamlit
python-dotenv
google
